<a href="https://colab.research.google.com/github/Dhyoga/BigDataAnalytics/blob/main/Analisis_Deskriptif.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd

In [8]:
import numpy as np

In [9]:
import matplotlib.pyplot as plt

In [11]:
import mysql.connector

try:
  dbYoga=mysql.connector.connect(
  host='localhost',
  database='db_sma2',
  user='root',
  password='',
  
  )
  if dbYoga.is_connected():
    print('Database is connected!')
except mysql.connector.Error as error:
  print('Error establishing database connection:', error)

Database is connected!

In [12]:
database=pd.read_sql("SELECT * FROM `tbl_scraping` ORDER BY `tbl_scraping`.`follower_count` DESC", dbYoga)
database.head()

/tmp/ipykernel_13202/2394130808.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  database=pd.read_sql("SELECT * FROM `tbl_scraping` ORDER BY `tbl_scraping`.`follower_count` DESC", dbYoga)

,id,ig_username,url,follower_count,like_count,comment_count,response_count,taken_at,completed,category,created,updated
0,304086,championsleague,https://instagram.com/p/CjoTIa_ommQ,99234404,1155215,2341,0,2022-10-13 05:01:32,1,H,2022-10-14 09:24:57,2022-10-14 09:24:57
1,284644,championsleague,https://instagram.com/p/CjDCogiomur,98686530,209418,636,0,2022-09-28 17:46:07,1,H,2022-09-29 08:52:56,2022-09-29 08:52:56
2,273855,championsleague,https://instagram.com/p/Ciu66xMo0NO,98395115,344946,1233,0,2022-09-20 22:17:16,1,H,2022-09-21 02:51:23,2022-09-21 02:51:23
3,180166,raffinagita1717,https://instagram.com/p/CdgDp9Ivnq6,61563707,148187,1459,0,2022-05-13 21:03:32,1,H,2022-05-14 00:22:28,2022-05-14 00:22:28
4,312566,manchesterunited,https://instagram.com/p/Cj8KsPwIfTz,61251427,136616,3864,0,2022-10-20 22:12:07,1,L,2022-10-21 10:41:07,2022-10-21 10:41:07