<a href="https://colab.research.google.com/github/Dhyoga/BigDataAnalytics/blob/main/Gender_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [84]:
import pandas as pd                 # pandas is a dataframe library
import numpy as np
df = pd.read_csv("/content/sample_data/data-pemilih-kpu.csv", encoding = 'utf-8-sig')

In [85]:
#melihat 5 baris pertama dataset
df.head(5)

                         nama jenis_kelamin
0              ERWIN TJAHJONO     Laki-Laki
1  DAVIANDRIE ANDIKA BAHROENY     Laki-Laki
2              ELAN KURNIAWAN     Laki-Laki
3     AYU DWI CAHYANING MUKTI     Perempuan
4                   WAHYOEDIN     Laki-Laki

In [86]:
#melihat 5 baris terakhir dataset
df.tail(5)

                 nama jenis_kelamin
13132      HERMANSYAH     Laki-Laki
13133         SITA.HJ     Perempuan
13134  MASNI TAMBUNAN     Perempuan
13135       MARJANEDI     Laki-Laki
13136        NGALIMAN     Laki-Laki

In [87]:
# mengecek apakah ada data yang berisi null
df.isnull().values.any()

True

In [88]:
# mengecek jumlah baris data yang berisi null
len(df[pd.isnull(df).any(axis=1)])

187

In [89]:
# menghapus baris null dan recheck kembali
df = df.dropna(how='all')
len(df[pd.isnull(df).any(axis=1)])

0

In [90]:
# mengecek dimensi dataset
df.shape

(12950, 2)

In [91]:
# mengubah isi kolom jenis kelamin dari text menjadi integer (Laki-laki = 1; Perempuan= 0)
jk_map = {"Laki-Laki" : 1, "Perempuan" : 0}
df["jenis_kelamin"] = df["jenis_kelamin"].map(jk_map)

In [92]:
# cek kembali data apakah telah berubah
df.head(5)

                         nama  jenis_kelamin
0              ERWIN TJAHJONO              1
1  DAVIANDRIE ANDIKA BAHROENY              1
2              ELAN KURNIAWAN              1
3     AYU DWI CAHYANING MUKTI              0
4                   WAHYOEDIN              1

In [93]:
# Mengecek distribusi jenis kelamin pada dataset

num_obs = len(df)
num_true = len(df.loc[df['jenis_kelamin'] == 1])
num_false = len(df.loc[df['jenis_kelamin'] == 0])
print("Jumlah Pria:  {0} ({1:2.2f}%)".format(num_true, (num_true/num_obs) * 100))
print("Jumlah Wanita: {0} ({1:2.2f}%)".format(num_false, (num_false/num_obs) * 100))

Jumlah Pria:  6162 (47.58%)
Jumlah Wanita: 6788 (52.42%)

In [94]:
from sklearn.model_selection import train_test_split

feature_col_names = ["nama"]
predicted_class_names = ["jenis_kelamin"]

X = df[feature_col_names].values     
y = df[predicted_class_names].values
split_test_size = 0.30

text_train, text_test, y_train, y_test = train_test_split(X, y, test_size=split_test_size, stratify=y, random_state=42)

In [95]:
print("Dataset Training Pria   : {0} ({1:0.2f}%)".format(len(y_train[y_train[:] == 1]), (len(y_train[y_train[:] == 1])/len(y_train) * 100.0)))
print("Dataset Training Wanita : {0} ({1:0.2f}%)".format(len(y_train[y_train[:] == 0]), (len(y_train[y_train[:] == 0])/len(y_train) * 100.0)))
print("")
print("Dataset Test Pria       : {0} ({1:0.2f}%)".format(len(y_test[y_test[:] == 1]), (len(y_test[y_test[:] == 1])/len(y_test) * 100.0)))
print("Dataset Test Wanita     : {0} ({1:0.2f}%)".format(len(y_test[y_test[:] == 0]), (len(y_test[y_test[:] == 0])/len(y_test) * 100.0)))

Dataset Training Pria   : 4313 (47.58%)
Dataset Training Wanita : 4752 (52.42%)

Dataset Test Pria       : 1849 (47.59%)
Dataset Test Wanita     : 2036 (52.41%)

In [96]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer(analyzer = 'char_wb', ngram_range=(2,6))
vectorizer.fit(text_train.ravel())

X_train = vectorizer.transform(text_train.ravel())
X_test = vectorizer.transform(text_test.ravel())

In [97]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline

clf_nb = Pipeline([('vect', CountVectorizer(analyzer = 'char_wb', ngram_range=(2,6))),
                     ('clf', MultinomialNB()),
])

clf_nb = clf_nb.fit(text_train.ravel(), y_train.ravel())
predicted = clf_nb.predict(text_test.ravel())
np.mean(predicted == y_test.ravel())

0.9330759330759331

In [101]:
jk_label = {1:"Laki-Laki", 0:"Perempuan"}
result = clf_nb.predict(["Yoga Permana"])
print(jk_label[result[0]])

Laki-Laki